header {
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    font: 13px/27px Roboto, Arial, sans-serif;
    z-index: 986;
    color: black;
    box-shadow: inset 0 -1px 0 0 #dadce0;
    background-color: #fff;
}

.header-container {
    display: flex;
    justify-content: space-between;
    min-width: min-content;
    position: relative;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.header-left {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    min-width: 230px;
    height: 48px;
    vertical-align: middle;
    white-space: nowrap;
    user-select: none;
}

.burger-button {
    display: flex;
    flex: 0 0 auto;
    width: 24px;
    height: 24px;
    margin: 0 4px;
    padding: 12px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
}

.burger-button svg {
    fill: #5f6368;
}

.logo-container {
    display: flex;
    align-items: center;
    position: relative;
    top: 1px;
}

.logo {
    display: inline-block;
    margin-bottom: 4px;
    padding-right: 4px;
}

.title-keep {
    position: relative;
    top: 0;
    font-size: 20px;
    font-family: "Product Sans", Arial, sans-serif;
    vertical-align: middle;
    padding-left: 8px;
    color: #5f6368;
}

.header-center {
    display: flex;
    flex: 1 1 100%;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    height: 48px;
    vertical-align: middle;
    white-space: nowrap;
}

.form-search-bar {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    position: relative;
    max-width: 720px;
    height: 46px;
    vertical-align: middle;
    white-space: nowrap;
    padding-right: 30px;
    border-radius: 8px;
    border: 1px solid transparent;
    background: #f1f3f4;
}

.search-input-wrap {
    width: 100%;
    height: 46px;
    padding: 0;
    margin-left: 56px;
    margin-right: 49px;
    overflow: hidden;
    /*white-space: nowrap;
    align-items: center;
    display: flex;*/
}

.search-input-wrap input {
    width: 100%;
    border: none;
    font: normal 16px Google Sans, Roboto, Helvetica, Arial, sans-serif;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    vertical-align: middle;
    white-space: nowrap;
    align-items: center;
    display: flex;
    /*min-width: 160px;*/
    position: relative;
    padding: 13px 0;
}

.form-search-bar:focus {
    background: #fff;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3),
        0 1px 3px 1px rgba(65, 69, 73, 0.15);
    box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3),
        0 1px 3px 1px rgba(65, 69, 73, 0.15);
}

.search-icon {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0 5px;
    line-height: 0;
}

.search-icon svg {
    fill: #5f6368;
    padding: 8px;
    margin: 4px;
    border-radius: 50%;
    transition: 0.2s ease;
}

.search-icon:hover svg {
    background-color: rgba(60, 64, 67, 0.08);
}

.clear-search-btn {
    position: absolute;
    right: 0;
}

.start-search-btn {
    position: absolute;
    top: 0;
}

.header-right {
    line-height: 0;
    display: flex;
}

.header-right svg {
    height: 24px;
    left: 12px;
    position: absolute;
    top: 12px;
    width: 24px;
    fill: #5f6368;
}

.overview {
    display: inline-block;
    width: 48px;
    height: 48px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
}

.overview:hover {
    opacity: 0.87;
    background-color: rgba(95, 99, 104, 0.157);
}

.view,
.settings {
    box-sizing: border-box;
    flex: 0 0 auto;
    height: 48px;
    width: 48px;
    display: inline-block;
}
