.menu-wrap {
    flex: 1 0 auto;
}

.menu-list {
    display: flex;
    flex-direction: column;
    height: calc(100% - 64px);
    min-height: auto;
    position: fixed;
    top: 64px;
    width: 80px;
    background-color: #fff;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 8px;
    transition-duration: 150ms;
    transition-property: width, box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list:hover {
    width: 280px;
    box-shadow: 0 16px 10px 0 rgba(0, 0, 0, 0.14),
        0 11px 18px 0 rgba(0, 0, 0, 0.12), 0 13px 5px -1px rgba(0, 0, 0, 0.2);
    transition-delay: 150ms;
    z-index: 985;
}

.menu-list:not(:hover) .menu-item {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding: 0;
}

.menu-item {
    display: flex;
    align-items: center;
    min-width: 48px;
    box-sizing: border-box;
    border: 1px solid transparent;
    margin-left: 12px;
    color: #202124;
    letter-spacing: 0.01785714em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
    transition-duration: 150ms;
    transition-property: width, border-radius;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item:hover {
    background-color: #f1f3f4;
}

.menu-item.active,
.menu-item.active:hover {
    padding-left: 12px;
    margin-left: 0px;
    border-radius: 0 25px 25px 0;
    background-color: #feefc3;
}

.menu-item:hover,
.menu-item.active:hover {
    padding-left: 12px;
    margin-left: 0px;
    border-radius: 0 25px 25px 0;
}

.menu-item.active svg {
    fill: #202124;
}

.menu-item svg {
    fill: #5f6368;
    flex-shrink: 0;
    padding: 0 12px;
}

.menu-title {
    display: flex;
    align-items: center;
    height: 48px;
    min-width: 48px;
    letter-spacing: 0.01785714em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 20px;
    user-select: none;
    color: #202124;
}
