.task-list {
    min-width: 0;
    width: 100%;
}

.task-wrap {
    width: 100%;
    max-width: 800px;
    margin: auto;
    display: none;
}

.task-container {
    font-weight: 500;
    margin: 100px 80px 16px 80px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
        0 1px 3px 1px rgba(60, 64, 67, 0.149);
    overflow: hidden;
}

.task-types {
    height: 20px;
    padding: 10px;
}

.tasks-labels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    box-sizing: border-box;
    margin: -2px;
    overflow: hidden;
    text-align: center;
}

.tasks-item {
    display: inline-block;
    width: 25%;
    outline-offset: 0;
    border: 2px solid #fff;
    box-sizing: border-box;
}

.task-container .task {
    background-color: #1a73e8;
}

.task {
    position: relative;
    padding-bottom: 100%;
}

.tasks-bg {
    position: absolute;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}

.tasks-bg {
    width: 100%;
    height: 100%;
    background-size: 25%;
}

.task-reminders .tasks-bg {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOHB4IiBoZWlnaHQ9IjE4cHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iI0ZGRkZGRiI+CiAgPHBhdGggZD0iTTE4IDE3di02YzAtMy4wNy0xLjYzLTUuNjQtNC41LTYuMzJWNGMwLS44My0uNjctMS41LTEuNS0xLjVzLTEuNS42Ny0xLjUgMS41di42OEM3LjY0IDUuMzYgNiA3LjkyIDYgMTF2Nkg0djJoMTZ2LTJoLTJ6bS0yIDBIOHYtNmMwLTIuNDggMS41MS00LjUgNC00LjVzNCAyLjAyIDQgNC41djZ6bS00IDVjMS4xIDAgMi0uOSAyLTJoLTRjMCAxLjEuOSAyIDIgMnoiIC8+Cjwvc3ZnPgo=");
}

.task-lists .tasks-bg {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDhweCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBmaWxsPSIjRkZGRkZGIiB2aWV3Qm94PSIwIDAgNDggNDgiIGhlaWdodD0iNDhweCI+CiA8cGF0aCBkPSJtNiAyNmg0di00aC00djR6bTAgOGg0di00aC00djR6bTAtMTZoNHYtNGgtNHY0em04IDhoMjh2LTRoLTI4djR6bTAgOGgyOHYtNGgtMjh2NHptMC0yMHY0aDI4di00aC0yOHoiLz4KIDxwYXRoIGQ9Im0wIDBoNDh2NDhoLTQ4eiIgZmlsbD0ibm9uZSIvPgo8L3N2Zz4K");
}

.task-images .tasks-bg {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDhweCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBmaWxsPSIjRkZGRkZGIiB2aWV3Qm94PSIwIDAgNDggNDgiIGhlaWdodD0iNDhweCI+CiA8cGF0aCBkPSJtMCAwaDQ4djQ4aC00OHoiIGZpbGw9Im5vbmUiLz4KIDxwYXRoIGQ9Im00MiAzOHYtMjhjMC0yLjIxLTEuNzktNC00LTRoLTI4Yy0yLjIxIDAtNCAxLjc5LTQgNHYyOGMwIDIuMjEgMS43OSA0IDQgNGgyOGMyLjIxIDAgNC0xLjc5IDQtNHptLTI1LTExbDUgNi4wMSA3LTkuMDEgOSAxMmgtMjhsNy05eiIvPgo8L3N2Zz4K");
}

.task-urls .tasks-bg {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDhweCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBmaWxsPSIjRkZGRkZGIiB2aWV3Qm94PSIwIDAgNDggNDgiIGhlaWdodD0iNDhweCI+CiA8cGF0aCBkPSJtMCAwaDQ4djQ4aC00OHoiIGZpbGw9Im5vbmUiLz4KIDxwYXRoIGQ9Im03LjggMjRjMC0zLjQyIDIuNzgtNi4yIDYuMi02LjJoOHYtMy44aC04Yy01LjUyIDAtMTAgNC40OC0xMCAxMHM0LjQ4IDEwIDEwIDEwaDh2LTMuOGgtOGMtMy40MiAwLTYuMi0yLjc4LTYuMi02LjJ6bTguMiAyaDE2di00aC0xNnY0em0xOC0xMmgtOHYzLjhoOGMzLjQyIDAgNi4yIDIuNzggNi4yIDYuMnMtMi43OCA2LjItNi4yIDYuMmgtOHYzLjhoOGM1LjUyIDAgMTAtNC40OCAxMC0xMHMtNC40OC0xMC0xMC0xMHoiLz4KPC9zdmc+Cg==");
}

.task-text {
    position: absolute;
    top: 80%;
    width: 100%;
    height: 28px;
    margin: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    font-size: 13px;
    font-weight: 400;
    padding: 0 5px;
    color: #fff;
}

/* Notes list */
.notes-wrap {
    /*position: relative;
    width: 600px;
    margin: 95px auto 16px auto;
    box-sizing: border-box;
    opacity: 1;
    border-radius: 8px;
    transition-duration: 0.218s;
    transition-property: opacity;
    background-color: #fff;*/
}

.notes-wrapper {
    display: flex;
    flex-direction: row;
    height: calc(100% - 64px);
}

.notes-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    clear: both;
}

.select-item {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    opacity: 1;
    cursor: pointer;
    outline: none !important;
    z-index: 201;
    background-color: #fff;
    background-size: 24px 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgICA8cGF0aCBkPSJNMTIsMiBDMTcuNTIsMiAyMiw2LjQ4IDIyLDEyIEMyMiwxNy41MiAxNy41MiwyMiAxMiwyMiBDNi40OCwyMiAyLDE3LjUyIDIsMTIgQzIsNi40OCA2LjQ4LDIgMTIsMiBaIE0xMCwxNC4yIEw3LjQsMTEuNiBMNiwxMyBMMTAsMTcgTDE4LDkgTDE2LjYsNy42IEwxMCwxNC4yIFoiIGlkPSJwYXRoLTEiPjwvcGF0aD4KICAgIDwvZGVmcz4KICAgIDxnIGlkPSJjaGVja19jaXJjbGVfMjRweCIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBvbHlnb24gaWQ9ImJvdW5kcyIgcG9pbnRzPSIwIDAgMjQgMCAyNCAyNCAwIDI0Ij48L3BvbHlnb24+CiAgICAgICAgPG1hc2sgaWQ9Im1hc2stMiIgZmlsbD0id2hpdGUiPgogICAgICAgICAgICA8dXNlIHhsaW5rOmhyZWY9IiNwYXRoLTEiPjwvdXNlPgogICAgICAgIDwvbWFzaz4KICAgICAgICA8dXNlIGlkPSJNYXNrIiBmaWxsPSIjMDAwMDAwIiBmaWxsLXJ1bGU9Im5vbnplcm8iIHhsaW5rOmhyZWY9IiNwYXRoLTEiPjwvdXNlPgogICAgPC9nPgo8L3N2Zz4K");
    transform: translate(-7px, -7px);
    transition: background-color 0.218s linear, opacity 0.218s linear,
        transform 0.218s linear;
}

.create-notes {
    position: absolute;
    top: 0;
    width: 46px;
    height: 46px;
    display: inline-block;
    outline: none !important;
    cursor: pointer;
    border: 1px solid transparent;
    opacity: 0.54;
    background-size: 24px 24px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.new-list {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjMDAwIj48cGF0aCBkPSJNMTkgM0g1Yy0xLjEgMC0yIC45LTIgMnYxNGMwIDEuMS45IDIgMiAyaDE0YzEuMSAwIDItLjkgMi0yVjVjMC0xLjEtLjktMi0yLTJ6bTAgMTZINVY1aDE0djE0eiIvPgogIDxwYXRoIGQ9Ik0xOCA5bC0xLjQtMS40LTYuNiA2LjYtMi42LTIuNkw2IDEzbDQgNHoiLz4KPC9zdmc+Cg==");
    right: 120px;
}

.new-draw {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjMDAwIj4KICA8cGF0aCBkPSJNMTguNjQgNC43NUwyMCA2LjExbC03Ljc5IDcuNzktMS4zNi0xLjM2IDcuNzktNy43OW0wLTJjLS41MSAwLTEuMDIuMi0xLjQxLjU5bC03Ljc5IDcuNzljLS43OC43OC0uNzggMi4wNSAwIDIuODNsMS4zNiAxLjM2Yy4zOS4zOS45LjU5IDEuNDEuNTkuNTEgMCAxLjAyLS4yIDEuNDEtLjU5bDcuNzktNy43OWMuNzgtLjc4Ljc4LTIuMDUgMC0yLjgzbC0xLjM1LTEuMzVjLS4zOS0uNC0uOS0uNi0xLjQyLS42ek03IDE0LjI1Yy0xLjY2IDAtMyAxLjM0LTMgMyAwIDEuMzEtMS4xNiAyLTIgMiAuOTIgMS4yMiAyLjQ5IDIgNCAyIDIuMjEgMCA0LTEuNzkgNC00IDAtMS42Ni0xLjM0LTMtMy0zeiIvPgo8L3N2Zz4K");
    right: 66px;
}

.new-image {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjMDAwIj4KICA8cGF0aCBkPSJNMTkgM0g1Yy0xLjEgMC0yIC45LTIgMnYxNGMwIDEuMS45IDIgMiAyaDE0YzEuMSAwIDItLjkgMi0yVjVjMC0xLjEtLjktMi0yLTJ6bTAgMTZINVY1aDE0djE0em0tNS03bC0zIDMuNzJMOSAxM2wtMyA0aDEybC00LTV6Ii8+Cjwvc3ZnPgo=");
    right: 12px;
}
